{% extends "layouts/base_content.html" %}

{% block head %} <meta name="csrf-token" content="{{ csrf_token() }}"> {% endblock %}

{% block title %} Asistentes {% endblock %} 


{% block header %}
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Asistentes</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{url_for('home_blueprint.index')}}">Home</a></li>
            <li class="breadcrumb-item active">Asitentes</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
 
{% endblock %} 

{% block content %} 
<!-- Content Wrapper. Contains page content -->

    

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-header">
          <h3 class="card-title">Listado de Asistentes</h3>
          <div style="float: right;">
            <button class="btn btn-primary"
              type="button" onclick="window.location.href='{{ url_for( 'home_blueprint.handler_assistant_form' )}}';">
              <i class="fas fa-plus"></i>
              Agregar Asistente
            </button>
          </div>
        </div>
        <div class="card-body pb-0">
          <div class="row">
            {% for assistant in assistants %}
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
              <div class="card bg-light d-flex flex-fill">
                <div class="card-header border-bottom-0 text-lg">
                 <b>Asistente virtual inteligente</b>
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-7">
                      <h2 class="lead"><b>{{ assistant.name }}</b></h2>
                      <h2 class="lead" id="assistant-id-{{ assistant.id }}" style="display: none;">{{ assistant.id }}</h2>
                      <p class="text-muted text-sm" style="max-height: 50px; overflow:clip;"><b>Instrucciones: </b> {{assistant.instructions}} </p>
                      <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-code-branch"></i></span> {{ assistant.model.name }}</li>
                        <li class="small"><span class="fa-li"><i class="fab fa-lg fa-connectdevelop"></i></span> {{ assistant.version.name }}</li>
                      </ul>
                    </div>
                    <div class="col-5 text-center">
                      <img src="{{url_for('static', filename='images/greetbotix.png')}}" alt="user-avatar" class="img-circle img-fluid" style="aspect-ratio: 1; width: 50%;">
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">
                    {% if assistant.apikey %}
                    <a id="ApiKeyAssistantCopy-{{ assistant.id }}" class="btn btn-sm bg-teal" title="Copiar Api-Key">
                      <i class="fas fa-user-lock"></i>
                    </a>
                    {% endif %}
                    <a href="{{url_for('home_blueprint.handler_assistant_form', assistant_id=assistant.id)}}" class="btn btn-sm btn-primary" title="Detalles del asistente">
                      <i class="fas fa-robot"></i> Detalles del asistente
                    </a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0">
              <!-- <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item"><a class="page-link" href="#">6</a></li>
              <li class="page-item"><a class="page-link" href="#">7</a></li>
              <li class="page-item"><a class="page-link" href="#">8</a></li> -->
            </ul>
          </nav>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->

{% endblock %}

{% block javascripts %}
  <script src="{{url_for('static', filename='js/home/assistant.js')}}"></script>
{% endblock %}